@import "tailwindcss";

@theme {
  --color-brand-dark: #3c5418;
  --color-brand-green: #3e551b;
  --color-brand-olive: #808d2d;
  --color-brand-cream: #f8f7ec;

  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-script: "Dancing Script", cursive;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  background-color: #e9ebe0;
}
